<ion-header>
  <ion-toolbar>
    <ion-title *ngIf="level!=null else title">Level {{level.id}}</ion-title>
    <ng-template #title>Waiting.</ng-template>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card size="5">

    <ion-grid fixed>

      <ion-row justify-content-center align-items-center class="main-image">
        <ion-col size="6" text-center>
          <div class="main-image">
            <ion-img src={{level.imageUrl}} alt='Sorry i`m an idiot' *ngIf="level!=null else loading"></ion-img>
            <ng-template #loading>Loading.</ng-template>
          </div>
        </ion-col>
      </ion-row>


      <ion-row justify-content-center align-items-center>
        <ion-col size="12" size-sm="6" text-center>
          <ion-input type="text" autofocus [(ngModel)]="answer" (input)="verifyAnswer($event.target.value)"></ion-input>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>


</ion-content>