<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HighScore</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle text-center>Top score</ion-card-subtitle>
      <ion-card-title text-center class="title" *ngIf="maxScore">{{ maxScore }}</ion-card-title>
    </ion-card-header>

  </ion-card>
  <hr>

  <ion-card>
    <ion-item>
      <ion-label *ngIf="level!=null">Level: {{ level }}</ion-label>
      <ion-button fill="outline" slot="end" (click)="resetProgress()">Reset Progress</ion-button>
    </ion-item>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="arrow-dropleft"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <ion-fab-button (click)="shareViaFacebook()">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareViaTwitter()">
        <ion-icon name="logo-twitter"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="shareViaEmail()">
        <ion-icon name="logo-google"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>

</ion-content>