<ion-content>

  <ion-grid fixed>
    <ion-row justify-content-center align-items-center class="main-image">
      <ion-col size="12" text-center>
        <img src="../../assets/icon/favicon.png" alt="">
        <div>Logo Guesser</div>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" size-sm="6" text-center>
        <ion-button size="large" [routerLink]="['/game']">New Game</ion-button>
      </ion-col>
      <ion-col size="12" size-sm="6" text-center>
        <ion-button color="tertiary" [routerLink]="['/highscore']">HighScore</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>